<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1> this is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ut 
        laudantium ullam ratione in tenetur ea excepturi unde eos enim veritatis expedita, 
        tempore omnis, odit nobis optio autem adipisci nam.
    </p>
    
</body>
</html>